<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}Willkommen!{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {# UI Kit CSS #}
        <link rel="stylesheet" href="{{ asset('assets/css/uikit.min.css') }}" />
    </head>
    <body>
        {# Include Header Template #}
        {% include "tpl/header.html.twig" %}

        {% block body %}{% endblock %}

        {# Include Footer Template #}
        {% include "tpl/footer.html.twig" %}

        {# UI Kit JavaScript #}
        <script src="{{ asset('assets/js/uikit.min.js') }}"></script>
        <script src="{{ asset('assets/js/uikit-icons.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
