<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li {% if app.request.attributes.get('_route') == "home" %}class="uk-active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
            <li {% if app.request.attributes.get('_route') == "imprint" %}class="uk-active"{% endif %}><a href="{{ path("imprint") }}">{% trans %}Impressum{% endtrans %}</a></li>
            <li {% if app.request.attributes.get('_route') == "users" %}class="uk-active"{% endif %}><a href="{{ path("users") }}">{% trans %}Benutzer{% endtrans %}</a></li>
            <li>
                <a href="#">{% trans %}Sprache{% endtrans %}</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li {% if app.request.locale == "de" %}class="uk-active"{% endif %}>
                            <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}">{% trans %}Deutsch{% endtrans %}</a>
                        </li>
                        <li {% if app.request.locale == "en" %}class="uk-active"{% endif %}>
                            <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">{% trans %}Englisch{% endtrans %}</a>
                        </li>
                        <li {% if app.request.locale == "nl" %}class="uk-active"{% endif %}>
                            <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'nl'}) }}">{% trans %}Niederländisch{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>