{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-align-center uk-container">
        <h1 class="uk-text-lead">
            {% trans %}Willkommen!{% endtrans %}
        </h1>
        <p>
            Dies ist meine Probearbeit für die Schwarz Dienstleistung KG. <br />
            Um das Projekt zu starten bitte den Anweisungen der README.md folgen.
        </p>
        <h2 class="uk-text-lead">
            Aufgabe 1
        </h2>
        <p>
                Für Aufgabe 1 hab ich zunächst versucht, übersetzte Routes in Symfony 3.4 zu benutzen. Leider kam dieses Feature erst mit Version 4.1.
                Aus diesem Grund habe ich das Bundle <strong>jms/i18n-routing-bundle</strong> in Kombination mit <strong>jms/translation-bundle</strong> verwendet,
                um das gewünschte Ergebnis mit einem Controller für alle Sprachen, anstatt jeweils 3 Controller für alle Funktionen, zu lösen. <br />
                Das Ergebnis aus dem Beschriebenen ist, das nun alle Seiten übersetzt sind.
                Sie erreichen das <a href="{{ path("imprint") }}">Impressum</a> über die Navigation. Auch die Sprache lässt sich über das Dropdown Menü in der Navigation auf jeder Seite ändern.<br />
                Für Übersetzungen habe ich ausschließlich Google Translate verwendet, da dies nicht relevant sein sollte.
        </p>
        <h2 class="uk-text-lead">
            Aufgabe 2
        </h2>
        <p>
            Auch die, von der API abgerufenen, Benutzer sind über die Navigation zu erreichen. Allerdings auch, wie in der Aufgabe gefordert, über
            <strong><a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/users/">{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/users/</a></strong>.
        </p>
        <h2 class="uk-text-lead">
            API Aufrufe (Bonusaufgabe)
        </h2>
        <div class="uk-margin">
            <label for="de">Deutsches Impressum abrufen</label><br />
            <input id="de" class="uk-input uk-form-width-large" type="text" disabled value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/de/api/get">
        </div>
        <div class="uk-margin">
            <label for="de">Niederländisches Impressum abrufen</label><br />
            <input id="de" class="uk-input uk-form-width-large" type="text" disabled value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/nl/api/get">
        </div>
        <div class="uk-margin">
            <label for="de">Englisches Impressum abrufen</label><br />
            <input id="de" class="uk-input uk-form-width-large" type="text" disabled value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/en/api/get">
        </div>
    </div>
{% endblock %}
