{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}Impressum{% endtrans %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-align-center">
    {% if imprint == false %}
        <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{% trans %}Scheint, als wäre noch kein Impressum für diese Sprache angelegt worden.{% endtrans %}</p>
        </div>
    {% endif %}
        <div class="uk-margin">
            <label class="uk-form-label" for="adress">{% trans %}Addresse{% endtrans %}</label>
            <a href="javascript:unlockField('adress')" id="adressIcon" uk-tooltip="title: {% trans %}Feld Ensperren{% endtrans %}" uk-icon="icon: unlock"></a>
            <a href="javascript:saveField('adress')" id="adressSave" hidden uk-tooltip="title: {% trans %}Feld Speichern{% endtrans %}" uk-icon="icon: check"></a>
            <div class="uk-form-controls">
                <input class="uk-input" id="adress" type="text" placeholder="" value="{{ imprint.adress }}" disabled>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="phone">{% trans %}Telefon{% endtrans %}</label>
            <a href="javascript:unlockField('phone')" id="phoneIcon" uk-tooltip="title: {% trans %}Feld Ensperren{% endtrans %}" uk-icon="icon: unlock"></a>
            <a href="javascript:saveField('phone')" id="phoneSave" hidden uk-tooltip="title: {% trans %}Feld Speichern{% endtrans %}" uk-icon="icon: check"></a>
            <div class="uk-form-controls">
                <input class="uk-input" id="phone" type="text" placeholder="" value="{{ imprint.phone }}" disabled>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="email">{% trans %}E-Mail{% endtrans %}</label>
            <a href="javascript:unlockField('email')" id="emailIcon" uk-tooltip="title: Feld Ensperren" uk-icon="icon: unlock"></a>
            <a href="javascript:saveField('email')" id="emailSave" hidden uk-tooltip="title: Feld Speichern" uk-icon="icon: check"></a>
            <div class="uk-form-controls">
                <input class="uk-input" id="email" type="email" placeholder="" value="{{ imprint.email }}" disabled>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    /**
     * Unlock field to edit imprint
     *
     * @param elId
     */
    function unlockField(elId) {
        // Get Input Field
        let field = document.getElementById(elId);

        // Get Lock / Unlock BTN
        let btn = document.getElementById(elId + "Icon");

        // Get Save BTN
        let save = document.getElementById(elId + "Save");

        // Enable Input Field
        field.removeAttribute("disabled");

        // Hide Btn
        btn.setAttribute("hidden", "hidden");

        // Show Btn
        save.removeAttribute("hidden");
    }

    function saveField(elId) {

        // Get Input Field
        let field = document.getElementById(elId);

        // Get Lock / Unlock BTN
        let btn = document.getElementById(elId + "Icon");

        // Get Save BTN
        let save = document.getElementById(elId + "Save");

        // Get value
        let value = field.value;

        // AJAX Call!
        changeImprint(elId, value);

        // Hide Btn
        save.setAttribute("hidden", "hidden");

        // Show Btn
        btn.removeAttribute("hidden");
        field.setAttribute("disabled", "disabled")
    }

    function changeImprint(field, value) {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/'+ '{{ app.request.locale }}' +'/editImprint');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Erfolg!
                UIkit.notification(field + " {% trans %}wurde erfolgreich aktualisiert!{% endtrans %}");
            } else {
                // Error!
                UIkit.notification(field + " {% trans %}konnte nicht aktualisiert werden!{% endtrans %}");
            }
        };

        xhr.send('["' + field + '","' + value + '","{{ app.request.locale }}"]');
    }
</script>
{% endblock %}
