{% extends 'base.html.twig' %}

{% block body %}
    <table class="uk-table uk-table-divider">
        <thead>
        <tr>
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Benutzername{% endtrans %}</th>
            <th>{% trans %}E-Mail{% endtrans %}</th>
            <th>{% trans %}Adresse{% endtrans %}</th>
            <th>{% trans %}Telefon{% endtrans %}</th>
            <th>{% trans %}Website{% endtrans %}</th>
            <th>{% trans %}Firma{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {{ user.address.street }} <br />
                    {{ user.address.suite }} <br />
                    {{ user.address.zipcode }} {{  user.address.city }}
                </td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>
                <td>
                    <strong>{{ user.company.name }}</strong> <br />
                    {{ user.company.catchPhrase }} <br />
                    {{ user.company.bs }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
